<div layout="column" style='height:100%;'>
  <section layout="row" flex>
    <!-- content -->

	  <md-content flex class='md-transparent'>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Descripcion">
	        <md-content class="md-padding">
            <md-subheader class="md-transparent">Descripción:</md-subheader>
            <md-divider></md-divider>
            <div>
              <section layout='row' layout-sm='colum'>

              </section>
            </div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Fotos">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Fotos:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Titular">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Titular:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Introducción">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Introducción:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="¿Qué hacer?">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">¿Qué hacer?:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Cuerpo">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Cuerpo:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label='Sitios'>
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Sitios:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>

        <md-tab label="Mapa">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Mapa:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Testimonios">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Testimonios:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Comentarios">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Hecho en:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Comentarios">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Planea tu viaje:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Comentarios">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Fiestas:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>

    <!-- end content -->
  </section>
</div>
