<div layout="column" style='height:100%;'>
  <section layout="row" flex>
    <!-- content -->

	  <md-content flex class='md-transparent'>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Descripción">
	        <md-content class="md-padding">
            <md-subheader class="md-transparent">Descripción:</md-subheader>
            <md-divider></md-divider>
            <div>
              <section layout='row' layout-sm='colum'>
                <md-card flex class='md-padding'>
                  <md-input-container flex>
                    <label>Agregar Texto</label>
                    <textarea ng-model="asd.model" columns="1" md-maxlength="277"></textarea>
                  </md-input-container>
                  <div class="md-actions" layout="row" layout-align="center">
                    <md-button class='md-primary'>Guardar</md-button>
                    <md-button class='md-warn'>Cancelar</md-button>
                  </div>
                </md-card>
              </section>
            </div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Foto Principal">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Foto Principal:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Titular">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Titular:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">
                <md-card flex class='md-padding'>
                  <md-input-container flex>
                    <label>Agregar Texto</label>
                    <textarea ng-model="asd.model" columns="1" md-maxlength="277"></textarea>
                  </md-input-container>
                  <div class="md-actions" layout="row" layout-align="center">
                    <md-button class='md-primary'>Guardar</md-button>
                    <md-button class='md-warn'>Cancelar</md-button>
                  </div>
                </md-card>
				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Cuerpo">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Cuerpo:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">
                <md-card flex class='md-padding'>
                  <md-input-container flex>
                    <label>Agregar Texto</label>
                    <textarea ng-model="asd.model" columns="1" md-maxlength="277"></textarea>
                  </md-input-container>
                  <div class="md-actions" layout="row" layout-align="center">
                    <md-button class='md-primary'>Guardar</md-button>
                    <md-button class='md-warn'>Cancelar</md-button>
                  </div>
                </md-card>
				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Deportes">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Deportes:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Destinos">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Destinos:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Mapa">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Mapa:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>

    <!-- end content -->
  </section>
</div>
