html {
  font-size: 14px;
}
body {
  background: url("../img/bg_app.jpg") center center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  padding: 0 0 .5rem 0;
  margin: 0;
  color: #E41D26;
}
a {
  color: #bd1d23;
}
a:hover {
  color: #f93f44;
}
label {
  font-size: 1rem;
}
label,
p {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.table-row {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  vertical-align: middle;
  display: table-cell;
}
.input-float label {
  margin: .4rem 0 0 .6rem;
  font-size: 11px;
  font-weight: 500;
  color: #CCC;
  position: absolute;
}
.input-float input {
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: .1rem;
  transition: all .4s;
}
.input-float textarea {
  padding-top: 1.4rem;
  line-height: 1.35em;
}
.input-float select {
  padding-top: 1.4rem;
  line-height: 1.35em;
  height: auto;
}
.input-icon label {
  margin: .5rem 0 0 .7rem ;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  line-height: 2rem;
  transition: all 1s;
}
.input-icon input {
  padding-left: 2.5rem;
  line-height: 1.7rem;
}
select {
  background-color: #FFF;
  border: 1px solid #DCDCDC;
  color: #777;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: auto;
  background: #FCFCFC;
  border: 1px solid #DCDCDC;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
  background: #FFFFFF;
  border: 1px solid #9DCAFE;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.button,
button {
  background-color: #E41D26;
  background-image: linear-gradient(-180deg, #E41D26 0%, #bd1d23 100%);
  border-radius: 3px;
  padding: .5rem 1rem;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  transition: all .3s;
}
button.small,
.button.small {
  padding: .4rem .5rem !important;
}
.button:disabled,
button:disabled {
  opacity: 0.6;
}
.button:focus,
button:focus {
  background: #f93f44;
  outline: none;
}
.button:hover,
button:hover {
  background: #f93f44;
}
.button:active,
button:active {
  background-image: linear-gradient(-180deg, #bd1d23, #E41D26);
}
.tabs {
  background: #F3F3F3;
  border-radius: 40px;
}
.tab-item {
  background: #ECEBEB;
  color: #8f8f8f !important;
  padding: .5rem 1.5rem !important;
  border-radius: 40px;
  font-family: "Roboto Condensed", Arial, sans-serif;
}
.tab-item.is-active {
  background: #6281AA !important;
  color: #FFF !important;
}
.tab-contents {
  padding: 1rem 0 0 0;
}
.mobile #main-menu {
  display: none;
}
#main-menu {
  width: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
}
#main-menu ul {
  list-style: none;
  margin: 0 .7rem;
  padding: 0;
  overflow: scroll;
  text-align: center;
}
#main-menu a {
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #777;
  padding: 5px 0;
  display: block;
  margin: .3rem;
  border-radius: 3px;
  transition: all .2s;
}
#main-menu a:hover,
#main-menu a:focus,
.selected {
  background: #E41D26;
  color: #ffffff !important;
}
.main-menu-icon {
  background: transparent;
  border-radius: 200px;
  line-height: 2.5rem !important;
  font-size: 1.7rem;
}
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.no-left-margin {
  margin-left: 0px;
  padding-left: 0px;
}
.no-right-margin {
  margin-right: 0px;
  padding-right: 0px;
}
.tabs dd.active a,
.tabs .tab-title.active a {
  background-color: #6281AA !important;
  color: #FFFFFF !important;
  border-radius: 30px;
}
.tabs dd > a,
.tabs .tab-title > a {
  display: block;
  background-color: #F3F3F3;
  color: #8f8f8f !important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: .9rem;
  padding: .3rem 1.3rem;
  border-radius: 30px;
}
.tabs dd > a:hover,
.tabs .tab-title > a:hover {
  background: #e7e7e7;
  border-radius: 30px;
}
.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-items li {
  border-top: 1px solid #EDEDED;
  padding: .6rem 0;
}
.list-items li .toolbox {
  margin-top: -0.6rem;
  background: transparent;
  display: none;
}
.list-items li:hover .toolbox {
  display: block;
}
.list-items-content {
  list-style: none;
  margin: 0 -1.5rem;
  padding: 0;
  border-top: 1px solid #ececec;
}
.list-items-content li {
  padding: .3rem .3rem .3rem 1.5rem;
  display: block;
  border-bottom: 1px solid #ececec;
}
.list-items-content li:hover {
  background: #F6F6F6;
}
.list-items-content li .toolbox {
  background: transparent;
  display: none;
}
.list-items-content li:hover .toolbox {
  display: block;
}
.angular-ui-tree-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.angular-ui-tree-nodes {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 20px;
}
.angular-ui-tree-node,
.angular-ui-tree-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
}
.angular-ui-tree-hidden {
  display: none;
}
.angular-ui-tree-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #FF0000;
}
.angular-ui-tree-placeholder:hover {
  border: 1px dashed #DCDCDC;
  background: #EDEDED;
}
.angular-ui-tree-handle .select {
  color: #0000FF;
}
.angular-ui-tree-handle {
  cursor: move;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 2.5rem;
  border-radius: 4px;
  padding: 0 .5rem 0 .2rem;
}
.angular-ui-tree-handle:hover {
  background: #f3f3f3;
}
.angular-ui-tree-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: 0.8;
}
.node-selected .angular-ui-tree-handle {
  background: #E41D26 !important;
  color: #FFF !important;
  border-radius: 4px;
}
.node-selected a {
  color: #E41D26 !important;
}
.block-form {
  background: #FCFCFC;
}
.block-form-logo {
  background: #E41D26;
  height: 100px;
}
#map-canvas {
  height: 500px;
}
.content-map {
  max-width: 100%;
}
.block-content-list {
  background: #FFF;
  padding-bottom: 5px;
  border: 1px solid #CCC;
}
.block-content-list-head {
  background: #E41D26;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
}
.block-content-list-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-content-list-body ul li {
  padding: 0 10px;
}
.block-content-list-body ul li:hover {
  background: #ebebeb;
}
.block-content-list-body .item {
  padding: 10px 0;
  border-bottom: 2px solid #ebebeb;
}
.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-items li {
  border-top: 1px solid #EDEDED;
  padding: 5px 0;
}
.list-items li a {
  color: #FF0000;
  display: block;
  line-height: 1rem;
  padding: 0;
}
.list-items-subtitle {
  font-size: .9rem;
  color: #CCC;
}
#header {
  background: rgba(255, 255, 255, 0.12);
  padding: .5rem 1.5rem;
  margin-bottom: .5rem;
}
#content {
  position: absolute;
  overflow: scroll;
  left: 100px;
  right: 0;
  top: 0;
  bottom: 0;
}
.mobile #content {
  left: 0;
}
.toolbox {
  background: rgba(255, 255, 255, 0.6);
  display: table;
  padding: .3rem;
}
.toolbox > * {
  display: table-cell !important;
  vertical-align: middle;
  margin: 0 !important;
  padding: 0 .6rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.toolbox > a {
  padding: .5rem .6rem;
  transition: all .3s;
}
.toolbox > a:last-child {
  border: none;
}
.toolbox > a:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background: #FFF;
}
.toolbox > a:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.content-topbar {
  margin: .4rem 1rem;
}
.content-topbar .icon-search {
  line-height: 20px;
  font-size: 15px;
  vertical-align: middle;
}
.hidden-input,
.hidden-input:hover,
.hidden-input:focus {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.content-topbar .hidden-input {
  width: 350px;
}
.block-white {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.icon16 {
  font-size: 16px;
}
.icon23 {
  font-size: 23px;
}
.icon32 {
  font-size: 32px;
}
.icon64 {
  font-size: 64px;
}
.content {
  padding: 1.5rem;
}
.inner-column {
  margin: 0 -0.9375rem;
}
.header-logo {
  width: 80px;
}
.text-info {
  color: #a8a8a8;
  font-size: .9rem;
}

/*# sourceMappingURL=app.css.map */
