body { font-family: 'Open Sans', sans-serif; background: #f7f7f7 url('../img/backbody.jpg'); padding-top: 100px; }

/*Fuentes*/
@font-face { font-family: 'CLimo Reg'; src: url('../fonts/champagne__limousines-webfont.eot'); src: url('../fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/champagne__limousines-webfont.woff2') format('woff2'), url('../fonts/champagne__limousines-webfont.woff') format('woff'), url('../fonts/champagne__limousines-webfont.ttf') format('truetype'), url('../fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'CLimo Bold'; src: url('../fonts/champagne__limousines_bold-webfont.eot'); src: url('../fonts/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/champagne__limousines_bold-webfont.woff2') format('woff2'), url('../fonts/champagne__limousines_bold-webfont.woff') format('woff'), url('../fonts/champagne__limousines_bold-webfont.ttf') format('truetype'), url('../fonts/champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg'); font-weight: normal; font-style: normal; }

/*Globales*/
h1, h2 ,h3, h4, h5 { margin-top: 0; font-weight:300; color: #EE1C25; }
input[type=file] { font-size: 12px; max-width: 100%; display: inline-block !important; }
/*input[type=text], textarea, input[type=password] { outline: none;border-radius: 3px;  padding: 5px 8px; transition: all .4s; color: #555;  }*/
input[type=text], input[type=password], .form-control {outline: none;border-radius: 3px; border:none; padding: 5px 8px; box-shadow: none; background: #eeeeee; color: #444; }
textarea.form-control{ padding: 10px; min-height:120px; }
input[type=text]:focus, textarea:focus, .form-control:focus { box-shadow: 0 2px 7px rgba(0,0,0,0.2); border:none; }
hr { border-top: 1px dotted #959595; }

.input-small { font-size: 12px !important; padding: 4px 6px !important; }

a{transition: all .3s; color: #E15C5C; text-decoration: underline; }
a:hover, a:focus{ text-decoration: underline; outline: none; color: #9d121a; }

/* Bootstrap customisation*/
.bread-crumb { background: #FFF; border-bottom: 1px dotted #DFDFDF; }
.breadcrumb { margin-bottom: 0; background: none; }

#map-canvas { height: 500px; }

.btn-close { background: none; padding: 0; color:#EE1C25; font-size: 18px; }
.page404 { margin: 40px 0; }
.page404 i{ font-size: 250px; color: #888; }
.overlay
{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
	background: #000;
	z-index: 1000;
	transition: all 0.3s;
	opacity: 0;
	visibility: collapse;
}
.overlay.visible
{
	opacity: 0.8;
	visibility: visible;
}
/*FIN GENERAL CLASS*/


.footer-menu{ padding: 20px 0;background: #FFF;}
.footer-menu ul{display: inline-table;border-right: solid 1px #e4e4e4; color: #676767;font-size: 12px;padding-right: 16px;padding-left: 23px; height: 195px;}
.footer-menu ul a{color: #676767;text-decoration: none;}
.footer-menu ul a:hover{color: black;}
.footer-menu .listitle{list-style: none;margin-left: -16px;margin-bottom: 8px;}

.footer-social { text-align: right; }

.footer-info{color: #a6a6a6;background: #ededed; padding: 30px 0; font-size: 13px; }
.footer-info .title{color: #EE1C25; margin-bottom: 10px; font-weight: 700; text-transform: uppercase;}
/*FOOTER*/
footer{ background: #444242;color: #FFF; font-size: 9px; padding: 12px 0;}
/*END FOOTER*/
/*FACEBOOKLIKE*/
/*.bottomborder{display: none;}*/
/*.facebook-box{ text-align: right; }*/
/*.facebook-box img{width: 29px; margin-top: 12px;}*/
/*.fb-like-box{display: block !important;}*/
/*END*/


/*---------------  Common clases */
.title-content{ text-transform: uppercase; margin-bottom: 30px; font-weight:300; }
.title-content span{border-left: dotted 1px #afafaf;border-right: dotted 1px #afafaf; padding: 0 30px;}

.list-thumbnail { margin: 30px -10px; list-style: none; padding:0;}
.list-thumbnail li { display: inline-block; margin:0 20px 0 0; width: 270px; }
.list-thumbnail a { padding: 8px; border:1px solid #DFDFDF; background: #FFF; box-shadow: 0 2px 8px rgba(0,0,0,0.1); display: block; position: relative; }
.list-thumbnail .title{ display: block; text-transform: uppercase; position: absolute; left:8px; right: 8px; bottom: 2px; z-index: 9; padding: 10px;  background: rgba(255,255,255,0.9);}
.list-thumbnail .title.small{font-size: 12px}
.list-thumbnail .title span{border-right: dotted 1px #b9b9b8; border-left: dotted 1px #b9b9b8;padding: 0 10px;}
.list-thumbnail .pic{ height: 200px; background: center center no-repeat; background-size: cover; display: block; }
.list-thumbnail .icon{
	float: right;
	font-size: 35px;
	margin: -8px 0;
	color: #444;
}
.list-thumbnail a:hover, .list-thumbnail a:focus, .list-thumbnail a:active { box-shadow: 0 4px 15px rgba(0,0,0,0.4); border-color: #E15C5C; }

.list-thumbnail.wide li { width: 290px; }
.list-thumbnail.wide .pic { width: 260px;height: 187px; }

.big-picture { border-radius: 5px; padding: 10px; margin-bottom: 10px; display: block; position: relative; border:1px solid #DFDFDF;background: #FFF; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }
.big-picture .pic{ height: 430px; background: center center no-repeat; background-size: cover; display: block; }
.big-picture .title{
	font-size: 12px; text-align: left;
	color:#555;  position: absolute;bottom: 0; z-index: 9; right:10px; left:10px; padding: 10px;background: rgba(255,255,255,0.9);
}
.big-picture i { float: right; font-size: 50px; color: #D0D0D0; }
.big-picture:hover, .big-picture:focus, .big-picture:active { box-shadow: 0 4px 15px rgba(0,0,0,0.4); border-color: #E15C5C; }


/*VIVE PERU*/
.life-destiny{ text-align: center; padding: 50px 0; }

/*COMENTARIOS*/
.block-comments{background: #efefef; padding: 0 15px;}
.comentarios{ padding:50px 0; }
.comentarios input[type="text"], .comentarios textarea { background: #FFF; }
.comentarios .title{ background: #EE1C25; margin-top: -40px; color: #FFF; display: inline-block; padding: 15px 25px; }

.block-comment{ margin-bottom: 40px; }
.block-comment small { font-size: 11px; }
.block-comment .comment-avatar{ position: absolute; width: 110px; height:110px; background: center center no-repeat; background-size: cover; border:2px solid #FFF; border-radius: 200px; box-shadow: 0 5px 10px rgba(0,0,0,0.2); }
.block-comment .comment-text { position: relative; border-radius: 6px; padding:15px; margin-left: 130px; background: #FFF; font-size: 13px; }
.block-comment .comment-text p { margin: 0; padding-top: 10px; border-top: 2px dotted #EDEDED; }
.arrow-left { position: absolute; top: 45px; left: -10px; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid #FFF; }

/*END*/


/*Fiestas y traiciones*/
.fiestas{text-align: center;margin:50px 0;}
.fiestas .title { text-align: left; padding: 10px 5px 3px 5px; }
.fiestas .title h3{ font-size: 14px; font-weight: 700; margin-bottom: 2px; }
.fiestas .title p{ color: #555; font-size: 11px; text-transform: none; margin: 0; }
.fiestas .time{float: right; position: relative; text-align: center; }
.fiestas .time .number{ font-size: 16px; line-height:10px; margin-top: 13px; color: #EE1C25; }
.fiestas .time .date{  font-size: 8px; width: 100%; color: #555; }

/*SECCION TESTIMONIOS*/
.testimonios{ min-height: 150px;  background: url('../img/fondo-testimonio.jpg') no-repeat center center; background-size: cover;text-align: center;color: #FFF; padding: 30px 0; }

.testimonios .profile{ display: inline-block; border: dotted 2px; border-radius: 50%; padding: 5px; }
.testimonios .profile div{  height: 134px;width: 134px;border: solid 3px;border-radius: 50%; background-size: cover; background-position: center center; }
.testimonios .name-tes span{color: #fab10d;font-size: 23px;border-bottom: dotted 1px #FFF;padding-bottom: 2px;
	text-transform: uppercase; }
.testimonios .des-tes{ font-size: 12px; text-transform: uppercase; }
.testimonios .cont-tes{ margin-left: 165px; }

/*timeline*/
.timeline{text-align: center;margin-top: 20px;margin-bottom: 30px;}
.timeline .art{height: 266px; width: 100%;position: relative;}
.timeline .art .line{height:100%;width:8px;background:#999999;position:absolute; left:calc(50% - 3px);}
.timeline .art .circle{width: 34px;height: 34px; border-radius: 50%;border: solid 2px #FFF; background:#EE1C25;left: calc(50% - 18px);top: calc(50% - 18px);position: absolute;}
.timeline .art .informationbox .picture {width:49%;height:100%;float:left;}
.timeline .art .informationbox{width: 447px;height: 213px;background:url('../img/boxitinerario.png');position: absolute;top:calc(50% - 107px);}
.timeline .art .informationbox .picture img{width:165px; height:165px;border-radius:50%;border:solid 2px #FFF;margin-top:22px;}
.timeline .art .informationbox .desc{width:50%;height:100%;float:left;text-align: left;}
.timeline .art .informationbox .desc .text-uppercase{font-size: 17px;color: #EE1C25;border-bottom: solid 1px;padding-bottom: 5px; margin-bottom: 10px;  padding-top: 15px;}
.timeline .art .informationbox .desc p{font-size: 13px;color: #575757;}
.timeline .art .informationbox .desc p a{color: #575757;}
.timeline .art .informationbox .desc br{line-height: 25px;}
.timeline .art .informationbox.espejo{background:url('../img/boxitinerarior.png');right: 0;}
.timeline .art .informationbox.espejo .picture, .timeline .art .informationbox.espejo .desc{float: right;}
.timeline .art .informationbox.espejo .picture{width: 43%;text-align: left;}
.timeline .art .informationbox.espejo .desc{width: 47%;}
/*END*/
/*RECOMENDADO*/
.recomendado { background-color: #f4f4f4; min-height: 200px; }
.recomendado a { background-size: cover; background-position: center center; display: block; opacity: .8; }
.recomendado a img { transition: all .4s; margin: 200px 0 15px 0; }
.recomendado a:hover{ opacity: 1; }
.recomendado a:hover img { transform: scale(1.1); margin-left: 80px; }
/*END*/
/*Mensaje de bienvenida*/
.msj-bienvenida{background: #e15c5c;text-align: center;color: #FFF;  padding: 20px 0; border-top:2px solid #FFF; }
.msj-bienvenida .home-msj{border-top: dotted 1px;border-bottom: dotted 1px; padding: 10px 0; }
.msj-bienvenida .estatic-msj{background: url('../img/back-bienvenido.png')no-repeat center;font-size: 22px; margin-top: 15px; }
/*end*/

/*----------------- Home LOS IMPERDIBLES -*/
.imperdibles{ text-align: center; margin: 70px 0; }
.imperdibles .selecthoteles{background: #EE1C25;margin: 0;margin-top: 30px;}
.imperdibles .selecthoteles li{display: inline-block;margin: 5px 21px;color: #FFF;
	font-weight:300;font-size: 16px;}
.imperdibles .selecthoteles li.active{color: #ffd67b;text-decoration: underline;}
/*end*/
/*HECHO EN PERÚ*/
.hperu{text-align: center;margin: 50px 0;}
/*END*/
/*PLANEA*/
/*.planea{background: url('../img/back-aventura.png');padding: 50px 0;  margin-bottom: 30px;}*/
/*.planea-left{background: url('../img/social-big.png'); width: 543px;height: 434px;position: relative;display: inline-block;}*/
/*.planea-left .duracion{position: absolute;  z-index: 1; bottom: 27px;left: 26px;}*/
/*.planea-left .botoni{position: absolute;  z-index: 1; bottom: 27px;right: 35px;}*/
/*.planea-left .imgplaneabig{background: url('../img/socialbig.jpg') no-repeat center;background-size: cover; position: absolute;width: 92.8%;height: 91.4%;top: 19px;border-radius: 4px;left: 20px;}*/
/*.planea-left .desc{background: rgba(255,255,255,0.9);width: 93%;position: absolute;bottom: 18px;left: 20px;padding: 11px 17px;}*/
/*.planea-left .desc p{margin-left: 17%; font-size: 16px; color: #EE1C25;}*/
/*.planea-right{width: 393px;height: 434px;position: relative;display: inline-block;}*/
/*.planea-right .small-box{width:189px;height: 204px;background: url('../img/social-small.png');display: inline-block;position: relative;}*/
/*.planea-right .small-box img{position: absolute;  z-index: 1; bottom: 19px;left: 16px;}*/
/*.planea-right .small-box .imgplaneasmall{ width: 87%;height: 87%;border-radius: 3px;top: 13px; position: absolute;left: 14px;}*/
/*.planea .large-box{width:376px;height: 198px;background: url('../img/planealarge.png')no-repeat;background-size: 100%; display: inline-block;position: relative;}*/
/*.planea .large-box .imgplanealarge{ width: 93.1%;height: 83%;border-radius: 3px;top: 13px; position: absolute;left: 14px;}*/
/*.planea .large-box .desc{background: rgba(255,255,255,0.9);width: 93.6%;position: absolute;bottom: 21px;left: 12px;padding: 1px 17px; font-weight:700;font-size: 16px; color: #8a8a8a;}*/
/*.planea-right .small-box .desc{background: rgba(255,255,255,0.9);width: 88.9%;position: absolute;bottom: 15px;left: 12px;padding: 1px 17px; font-weight:700;font-size: 13px; color: #EE1C25;}*/
/*.planea-right .small-box .desc p{margin-left: 33%;}*/
/*END*/
/*AVENTURA*/
.aventura{background: url('../img/back-aventura.png'); padding: 50px 0; text-align: center; }
/*.aventura .miniaturas {width: 167px; margin: 8px; }*/
/*.aventura .miniaturas a {*/
	/*display: block; position: relative; }*/
/*.aventura .miniaturas .title{bottom: 12px;z-index: 9;margin-left: 12px;width: 87%;padding: 5px 0;background: rgba(255,255,255,0.9);font-size: 15px;color: #EE1C25; font-weight: 500;}*/
/*.aventura .miniaturas .title span{padding: 0 10px;font-size: 11px;}*/
/*.aventura .miniaturas .pic{width: 143px;height: 153px;position: absolute;top: 12px;left: 13px;border-radius: 2px;}*/

/*MAPA*/
/*.mapa{background: url('../img/back-mapa.png');padding: 50px 0;}*/
/*.mapa .content{text-align: center;}*/
/*.mapa .content a{text-decoration: none;}*/
/*.mapa .mapa-left{width: 542px;height: 721px;position: relative;display: inline-block;background: url('../img/bigboxmapa.png');}*/
/*.mapa .mapa-left .cordenadas{width: 517px; height: 697px; position: absolute;left: 13px; top: 12px;}*/
/*.mapa .mapa-rigth{width: 390px; height: 721px;position: relative;display: inline-block;}*/
/*.mapa .mapa-rigth .smallbox{width: 188px;height: 223px;background: url('../img/smallboxmapa.png') no-repeat; display: inline-block;position: relative; padding-bottom: 20px;}*/
/*.mapa .mapa-rigth .smallbox .intersmallmap{width: 166px; height: 199px; position: absolute;top: 11px;left: 11px;}*/
/*.mapa .mapa-rigth .smallbox .title{  position: absolute;bottom: 33px;z-index: 9;margin-left: 11px;width: 89%;padding: 5px 0;background: rgba(255,255,255,0.9);font-size: 11px;color: #EE1C25; font-weight: 700;}*/
/*.mapa .mapa-rigth .smallbox .title span{border-right: dotted 1px #b9b9b8; border-left: dotted 1px #b9b9b8; padding: 0 10px;}*/
/*END*/

/*Sociales*/
.list-live-peru{list-style: none; display: block; overflow: auto; padding: 0; margin: 0; }
.list-live-peru li{ width:33%; height:185px; display:inline-block; position: relative; background-size: cover; background-position: center center;}
.list-live-peru .pic{height:200px; position: relative; }
.list-live-peru .icon{width:20px;}
.list-live-peru .title{
	text-align: left; padding: 5px; position: absolute; z-index: 999; width: 100%; color:#FFF; background: rgba(0,0,0,0.4); font-size: 11px;}
/*END*/

/*NAVEGACION*/
nav { height: 100px; width: 100%; background: rgba(255,255,255,0.96);position: fixed;border-top:solid 3px #EE1C25;z-index: 500;top: 0; box-shadow: 0 0 15px rgba(0,0,0,.3);}
nav .internav{width: 940px;height: 100px;position: relative;margin: 0 auto;}
nav .logo{max-width: 180px; margin-top: 5px; }
nav  .generalnav , nav .subnav{ list-style: none; margin: 5px 0; padding:0; text-align: right; }
nav  .generalnav{ margin-top: 20px; }
nav  .generalnav>li{display: inline-block;border-right: dotted 1px #b3b3b4; font-size: 14px; padding-right:4px; }
nav  .generalnav>li>a{
	padding: 8px 15px;
	display: block;
	text-decoration: none;color: #404042;
	border-radius: 4px;  }
nav .generalnav .active a, .generalnav li a:hover{color: #EE1C25; background: #f0f0f0; }

.search-box { border-right: none; padding-right: 0; position: relative; }
.search-box input{ width: 200px; background: #FFF; visibility: collapse; right: 0; border-radius: 0; border:1px solid #EE1C25 !important; transition: all .3s; opacity: 0; position: absolute;}
.search-box:hover input { visibility: visible; opacity: 1; right: 38px; }
.search-box button{ padding:5px 10px; font-size: 16px;}

nav .subnav {font-size: 11px;}
nav .subnav li{display: inline-block;padding-left: 10px;color: #EE1C25;}
nav .subnav li a{text-decoration: none;color: #EE1C25;}
nav .subnav .idioma{border-left: dotted 1px #b3b3b4;  margin-left: 10px;}
nav .subnav .active a, .subnav li a:hover{ text-decoration: underline;}
nav .subnav .idioma select{color: #FFF;background: #fab10d;border: none;height: 29px;font-size: 12px;outline: none;}

/*END*/
.dropdown-menu { border-radius: 0; }
.dropdown-menu>li>a { padding: 8px 15px; min-width:180px; }
.dropdown-menu ul { list-style: none; }
.dropdown-menu ul>li>a { display: block; padding: 2px 5px; }

/*HOVER DESTINO*/
.hovdestino{
	opacity:0;
	position: absolute;width: 650px;background: rgba(0,0,0,0.7);color: #FFF;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	text-align: left;
	border-top:0 solid #FFF;
	visibility: collapse;
}
.hovdestino .row{
	padding: 15px;
}
.hovdestino .left-block { border-right:1px dotted #FFF; }
.hovdestino .left-block ul{ float: left; border-right: dotted 1px; margin: 0 10px 0 0; padding:0; list-style: none; width: 107px; }
.hovdestino .left-block ul.last{ border-right: none; margin: 0; width: 90px; }
.hovdestino .left-block li{ font-size: 11px; }
.hovdestino .left-block li a{ color: #FFF; display: inline-block; padding:2px 0; }
.hovdestino .left-block li a:hover{ color: #de9e10; background: transparent; }
.hovdestino .list-specials { padding: 0; list-style: none; }
.hovdestino .list-specials li{ display: inline-block; }
.hovdestino .list-specials li p{ text-align: center;font-size: 11px; }
.hovdestino .title { color: #de9e10; }
.hovdestino .menuri .menrinonbo li{border: none;}
/*END*/
.destinoac:hover>a { color: #EE1C25; background: #f0f0f0; }
.destinoac:hover .hovdestino{ opacity: 1; border-top:7px solid #FFF; visibility: visible; display: block; }
/*END*/

.slider1 {width: 100%;}

.header .social-buttons { background: rgba(0,0,0,0.7); position: absolute; top: 70px; left: 0; }
.header .social-buttons a{ padding:10px; font-size: 25px; line-height: 25px;  display: block; border-bottom:1px dotted #a8a8a8; text-decoration: none; color: #ffffff; }
.header .social-buttons a:last-child{ border-bottom:none; }
.header .social-buttons a:hover { background: #EE1C25; }

.temperatura { background: rgba(0, 0, 0, 0.8); position: absolute; top: 200px; left: 0; }
.temperatura .list-inline{ margin: 0; float: left; }
.temperatura .list-inline li{ vertical-align: top; padding: 10px; text-align: center; display: none; }
.temperatura .list-inline.expanded li{ display: inline-block; }
.temperatura .day{ min-width:50px; margin-bottom: 10px; background: #E15C5C; color: #FFF; border-radius: 3px;text-align: center; font-size: 11px; }
.temperatura img{ width: 22px; vertical-align: top; }
.temperatura .temp{ color: #FFF; font-family: 'CLimo Bold', sans-serif; font-size: 12px; display: block; }
.temperatura .temp-low{ color: #baa6ca; font-size: 10px; }
.temperatura li:first-child { background: rgba(250, 177, 13, 0.4);
	display: block;}
.temperatura li:first-child img { width: 40px; }
.temperatura li:first-child .temp { font-size: 15px; display: inline-block; }
.temperatura .btn-more { cursor: pointer; background: transparent; padding: 33px 4px; float: left; }
.temperatura .btn-more:hover
{
	background: #646464;
}


.slider-caption{ background: rgba(0,0,0,0.7); position: absolute;top: 295px;left: 0;
	padding: 25px 25px 15px 50px;
	text-align: right;
	text-transform: uppercase;
	font-family: 'CLimo Reg', sans-serif; color: #FFF; }
.slider-caption .slogan{ margin: 0; font-size: 25px; color:#FFF; }
.slider-caption .name{ font-size: 60px;color: #fab10d; margin: 0; }

.slider-caption.small{
	padding: 15px;
	text-align: left;
}
.slider-caption.small .name{
	font-size: 35px;
}

.header .portada .leyendasubdes{
	background: rgba(0,0,0,0.7);position: absolute;
	top:300px;
	padding: 10px;
	left: 0;font-family: 'CLimo Reg', sans-serif; color: #FFF; font-size: 23px;}
.header .leyendasubdes p{}
.header .leyendasubdes span{font-size: 35px;color: #fab10d;}

.list-destiny-menu{ background: rgba(0,0,0,0.7); text-align: center; list-style: none; margin:0; padding:0; }
.list-destiny-menu li{ display: inline-block; border-right: dotted 1px #FFF; margin: 5px 0; }
.list-destiny-menu li:last-child{ border-right: none;}
.list-destiny-menu a{ text-decoration: none; display: block; padding: 5px 25px; font-size: 12px; color: #FFF; text-transform: uppercase; }
.list-destiny-menu a:hover, .list-destiny-menu a.active{color: #cc910d;}

/*Menu subdestino*/
.menu-subdestino {position: absolute;background: rgba(0,0,0,0.7);bottom: 0;width: 100%; text-align: center; }

.list-menu-subdestino{ margin: 0; padding:10px 0; list-style: none; }
.list-menu-subdestino li{ display: inline-block; border-right: dotted 1px #FFF;}
.list-menu-subdestino li:last-child{ border-right: none;}
.list-menu-subdestino li p{margin: 5px 0 0 0; font-size: 11px; color: #cc910d;}
.list-menu-subdestino li a{ padding: 5px 30px; display: block; text-decoration: none;}
.list-menu-subdestino li a:hover{ background: #000; }
.list-menu-subdestino li img{height: 35px;}
/*END*/
/*BOTON FAVORITO*/
.favorito{ background: rgba(0,0,0,0.7);position: absolute;bottom: 120px;right: 0; padding: 10px; color:#FFF; text-transform: uppercase; font-size: 11px; }
.favorito i { font-size: 28px; float: left; margin-right: 8px; }
.favorito.added { background: rgba(93, 66, 0, 0.7); }
.favorito.added i { color: #f7c200; }

.destiny-history {position: absolute; width:100%; z-index: 100; border-top: 4px solid red;}
.destiny-history .block-history { background: #FFF; box-shadow: 0 2px 15px rgba(0,0,0,0.2); padding: 25px 25px 0 25px; border-bottom: 8px solid #EE1C25;
	display: none; }
/*.destiny-history .content{background: #FFF; text-align: center;margin-bottom: 57px;box-sizing: initial;}*/
.destiny-history .title { padding-bottom: 10px; margin-bottom: 15px; border-bottom: 1px solid #EE1C25; }
.destiny-history .details{ background: #de5858;color: #FFF; font-size: 13px;border-radius: 8px; padding: 25px; }
.destiny-history .details hr{ border-color: #FFF; }
.destiny-history .sub-title{  font-size: 16px; text-decoration: underline; color: #FFF; text-transform: uppercase; }

.history-legend{ background: #737373; margin: 15px -25px 0 -25px;
	padding:10px 50px; font-family: 'CLimo Bold', sans-serif; text-align: right; color:#FFF; text-transform: uppercase; }
.history-legend .row>div{ border-right: 1px solid #8c8c8c; }
.history-legend .row>div:last-child{ border-right: none; }
.history-legend .value{ color:#f2ad13; font-size: 22px; }
.history-legend img{height: 28px; float:right; margin:10px 10px 0 10px;}
/*END*/
/*HOSPEDAJE*/
.hospedaje .profile-tabs .pws_tabs_list{margin-left: 3px;width: 100%;}
.hospedaje .profile-tabs .pws_tabs_list,.hospedaje .profile-tabs .pws_tabs_list .pws_tabs_scale_show{padding: 0;background: #ebebeb;}
.hospedaje .profile-tabs .pws_tabs_container, .hospedaje .profile-tabs{width: 100% !important; font-weight:300; font-size: 16px;}
.hospedaje .pws_tabs_container ul.pws_tabs_controll{background: #EE1C25;margin: 0;margin-top: 30px;}
.hospedaje .pws_tabs_container ul.pws_tabs_controll li a, .hospedaje .pws_tabs_container ul.pws_tabs_controll li a:hover{background: transparent;  margin: 5px 21px;}
.hospedaje .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active{color: #ffd67b !important;text-decoration: underline;}
/*END*/
/*CASILLA*/
/*
.casilla{margin-bottom:40px;color:#FFF;}
.casilla .casilla-left{position:relative; display:inline-block; width: 329px;height:366px; background:#df5252;text-align:center;margin-right: 6px;  float: left;}
.casilla .casilla-left div{width: 261px;padding-left:38px;  padding-bottom: 35px;}
.casilla .casilla-left .text-uppercase{font-size:28px; padding: 25px 0;border-bottom: dotted 1px;}
.casilla .casilla-right{position:relative; display:inline-block; width: 605px;height:366px;margin-bottom: -36px;}
*/

/*END*/
/*CASILLA SOBRE PERU*/
.about-peru-item{ background:#FFF; border-bottom: 2px solid #fab10d; padding: 40px 30px; }
.about-peru-item h3 { font-size: 30px; text-transform: uppercase; border-bottom:1px solid #EE1C25; padding-bottom:5px; margin-bottom: 20px; }
.about-peru-item:nth-child(even){ background:#f2f2f2; text-align: right; }

/*.sobrecasilla{background: #FFF; height: 278px;border-bottom: solid 2px #fab10d;padding: 46px;color: #6a6a6a;font-size: 13px;}
.sobrecasilla.espejo{background: #f2f2f2;}
.sobrecasilla .post-left,.sobrecasilla .post-right{width: 574px;height: 100%;position: relative;display: inline-block; float: left;}
.sobrecasilla .post-right{width: 274px;text-align: center;}
.sobrecasilla .post-left .text-uppercase{color: #EE1C25; font-size: 31.97px;border-bottom: solid 1px #EE1C25; padding-top: 10px;}
.sobrecasilla.espejo .post-left{text-align: right;}
.sobrecasilla.espejo .post-left,.sobrecasilla.espejo .post-right{float: right;}*/
/*END*/
/*OPCION CIRCULAR*/

/*.circleoption .option{width: 132px; height: 132px; border-radius:50%;background:#ededed;display: inline-block;margin: 0 10px;}
.circleoption .option.active{background:#EE1C25;}*/
/*END*/
/*FESTIVIDADES*/
.festividades{background: #ededed;height: 386px;}
.festividades .fest-left{position:relative; display:inline-block; width: 313px;height:346px; background:url('../img/interbackfiesta.png');text-align:center;margin-right: 6px;  float: left;margin-top: 20px;font-size: 14.46px;color: #747474;}
.festividades .fest-left .text-uppercase{font-size: 27.93px;color: #EE1C25;}
.festividades .fest-left .descripcion{  width: 258px;top: 52px;position: absolute;left: 29px;}
.festividades .fest-left .descripcion div{border-bottom: dotted 1px #d5d5d5;  margin-top: 24px;margin-bottom: 22px;}
.festividades .fest-right{position:relative; display:inline-block; width: 620px;height:346px;margin-bottom: -36px;margin-top: 20px;}
/*END*/
/*QUIENES SOMOS*/
.qsomos{margin-top: 134px;text-align: center; }
.qsomos .content{background: #ededed;padding: 38px 30px;color: #797979;}
.qsomos .content .container {background:#FFF;}
.qsomos .content .container .principal{color: #EE1C25;font-size: 30px;top: 47px;width: 100%;z-index: 2;border-bottom:dotted 1px red;margin-bottom: 40px;}
.qsomos .content .container .principal span{background: #FFF; padding: 0 14px;position: relative;top:20px;}
.qsomos .name {color: #EE1C25; font-size: 26px; margin: 10px 0;}
.qsomos .col-sm-12, .qsomos .col-sm-6, .qsomos .col-sm-4 {padding: 30px;}
.qsomos .col-sm-4 {border-right: 1px dotted #959595;}
.qsomos .col-sm-4:last-child {border: none;}
.qsomos .titulo-lista {margin: 0 25%;padding: 10px;background: #EE1C25;color: #FFF;position: relative;top: 15px;text-transform: uppercase;}
.qsomos .lista {background: #eee;text-align: left;margin: 0 40px;padding: 20px;border: 1px solid #ccc;box-shadow: 0px 5px 10px #ccc;}
.qsomos .profile{ display: inline-block; border: dotted 2px; border-radius: 50%; padding: 5px; }
.qsomos .profile div{  height: 134px;width: 134px;border: solid 3px;border-radius: 50%; background-size: cover; background-position: center center; }
/*END*/
/*FORMAS DE LLEGAR*/
.formascont .content{background:#FFF;padding:50px;width:840px;color: #828282;font-size: 14px;}
.formascont .content .text-uppercase{font-size: 32px;text-decoration: underline;color: #EE1C25;}
.miniaturasforma{width: 163px !important;height: 147px;display: inline-block;margin: 3px;position: relative;}
.miniaturasforma .pic{  width: 144px;height: 125px;position: absolute;top: 11px;left: 10px;border-radius: 2px;}
.formascont .textcenter{  display: inline-block;width: 65%;float: right;margin-top: 15px;margin-right: 90px;}
.formascont .boxforma{border-top: dotted 1px;padding: 12px 0;font-size: 13px;position: relative;}
.formascont .headforma{margin-bottom: 40px;}
.formascont .textright{position: absolute;top: 60px;right: 0;}
.formascont .textright button {background: #EE1C25;border: none;height: 56px;width: 56px;border-radius: 50%;outline:none;cursor:pointer;color:#FFF;}
/*END*/

/*REVISATAS*/
.magazine .block-magazine {border-top:solid 3px #EE1C25;background: #f0f0f0;padding:20px;margin-top: 20px;}
.magazine h1 { margin: 20px 0; }
.list-magazine{background: #FFF; border:solid 1px #c8c8c8;border-radius: 5px; margin:0; vertical-align: top; text-align: center; }
.list-magazine li{
	box-shadow: 2px 5px 15px rgba(0,0,0,0.15);
	text-align: center;
	vertical-align: top;
	width: 180px;margin:40px 20px;background: #eeeeee;display: inline-block;border-radius: 4px;position: relative;}
.list-magazine button{background: #EE1C25;color: #FFF;font-size: 11px;padding: 2px 5px; margin-bottom: 15px;}
.list-magazine p{font-size: 12px;color: #575757; margin: 5px 15px;}
.list-magazine img{width: 100%;}
/*END*/

/*BANCO*/
.bank-photos
{
	background: url("../img/bancofotos.jpg") center center;
	background-size: cover;
	border-bottom: 3px solid #EE1C25;
	padding: 150px 0 250px 0;
}
.bank-search{}
.bank-search input{ height: 54px;font-size: 23px;}
.bank-search button{ float: right; margin-top: -48px; padding: 10px 50px; z-index: 999; margin-right: 5px; border-radius: 5px; position: relative; }

.contbanco { margin-top: -100px; }
.contbanco .content{background: #FFF;position: relative;border-radius: 5px;text-align: center;}
.contbanco .content .text-uppercase{  font-size: 26px;color: #EE1C25;margin-bottom: 30px;padding-top: 40px;}
/*END*/


/*SLIDE HOME*/
.info-slide{right:0; position: absolute;top: 40px;font-family: 'CLimo Reg', sans-serif;
	color: #de9e10;font-size: 16px; background:#000;padding: 10px; opacity: .5; transition: all .5s; }
.info-slide:hover { opacity: 1; }
.info-slide .slider-desc{color: #FFF; text-transform: uppercase; }

.swiper-container-list, .swiper-container{
	background:no-repeat center center; background-size: cover; overflow: hidden;
}
.swiper-container { height: 450px; }
.swiper-slide { background:no-repeat center center; background-size: cover !important; }
.swiper-pagination .swiper-pagination-bullet { background: #464646; border:2px solid #FFF; width: 10px; height: 10px;; }

.swiper-container.sub-destiny
{
	height: 500px;
}
/*END*/
/*EFECTS IN HEADER MENU*/

/*Drops effects in region*/
.regiones{ text-align: center; background-color: #cbcbcb; }

.regiones .row{
	margin: 80px 0;
}
.regiones a{
	display: block;
	color:#FFF;
	text-shadow: 4px 4px 18px #000;
	transition: all .4s;
}
.regiones a:hover{
	text-decoration: none;
	text-shadow: 4px 4px 8px #000;
}
.regiones .desc{font-size: 24px; }
.regiones .name{font-size: 48px; font-weight:600;  }
.regiones .map{  width: 200px; }

/*END*/

/*PARALLAX*/
.parallax-window {
  min-height: 750px;
  background: transparent;
}
.parallax-element {
  border-bottom: 4px solid #EE1C25;
  position: relative;
}
.parallax-description {
  background :rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
}
.parallax-content{
  text-align: center;
  margin: 40px auto;
  width: 80%;
}
.parallax-title{
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: dotted 1px;
  color: #fab10d;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
}
#imgdestino {
	background: #EE1C25;
	cursor: pointer;
	color: #fff; padding: 12px 24px;
	font-size: 16px;
	text-decoration: none;
}
/*END*/

/*PROFILE USER*/
.profile-section{
  margin-top: 150px;
}
.profile-section .pws_tabs_container .pws_tabs_list{min-height: 490px;border: solid 1px #c4c4c4;border-radius: 3px;}
.profile-section .pws_tabs_container .pws_tabs_list .pws_tabs_scale_hide{width: 95%;}
.profile-section .pws_tabs_container ul.pws_tabs_controll{margin: 0;}
.profile-section .pws_tabs_container ul.pws_tabs_controll li a, .profile-section  .pws_tabs_container ul.pws_tabs_controll li a:hover{
    background-color: #b5b5b5;
}

.profile-content {
	background: #eaeaea;
	border-top: 3px solid #EE1C25;
	margin: 0 auto;
	padding: 35px 0;
	width: 940px;
}

.profile-information,
.profile-tabs {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

.profile-information{
  background: #b5b5b5;
  border-radius: 5px;
  color: #FFFFFF;
  margin-left: 15px;
  padding: 0 15px;
  width: 225px;
}
.profile-photo{
  margin-top: 30px;
}
.profile-photo-circular{
  border-radius: 62px;
  border: 3px solid #FFF;
  height: 106px;
  overflow: hidden;
  padding: 2px;
  position: relative;
  margin: 0 auto;
  width: 110px;
}
.profile-photo-circular img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.profile-name{
  color: #EE1C25;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.profile-text{
  text-align: center;
  padding: 5px;
  font-size: 12px;
}
.profile-contact{
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  padding: 10px 0;
  margin: 10px 0;
}
.profile-tabs .pws_tabs_list{
  left: -3px;
}
.profile-tabs .pws_tabs_container{
  display: inline-block;
  vertical-align: top;
}
.profile-tabs ul li a{
  font-size: 15px;
}
/*END*/

/*GENERAL TABS*/
/*.pws_tabs_container ul.pws_tabs_controll{*/
  /*padding: 0 !important;*/
/*}*/
/*.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {*/
  /*background-color: #EE1C25 !important;*/
  /*color: #FFF !important;*/
/*}*/
/*.pws_tabs_container ul.pws_tabs_controll li a{*/
  /*border-top-left-radius: 3px !important;*/
  /*border-top-right-radius: 3px !important;*/
  /*padding: 5px 8px !important;*/
/*}*/
/*END*/
.guiallegar .content{text-align: center;color: #FFF}
.guiallegar .content h1{font-size: 21px;}
/*.guiallegar .bow1,.guiallegar .bow2,.guiallegar .bow3 ,.guiallegar .bow4{  position: absolute;top: 130px;width: 218px;text-align: center;height: 218px;left: 15px;}*/
.guiallegar .bow1 div,.guiallegar .bow2 div,.guiallegar .bow3  div,.guiallegar .bow4  div{width: 100%;height: 100%;position:relative;}
.guiallegar .bow1 div h1,.guiallegar .bow2 div h1,.guiallegar .bow3 div h1,.guiallegar .bow4 div h1{width: 144px;position: absolute;bottom: 85px;left: 40px;border-bottom: dotted 1px;  padding-bottom: 4px;}
.guiallegar .bow1 div p,.guiallegar .bow2 div p,.guiallegar .bow3 div p,.guiallegar .bow4 div p{position: absolute;top: 118px;width: 158px;left: 34px;}
.guiallegar .bow2{left: 280px;}
.guiallegar .bow3{left: 530px;}
.guiallegar .bow4{left: 780px;}
/*comollegar*/
/*.guiallegar .barr1,.guiallegar .barr2,.guiallegar .barr3,.guiallegar .barr4{  position: absolute;top: 341px;width: 243px;height: 420px;left: 5px;color:#EE1C25;}*/
.guiallegar .barr1 div,.guiallegar .barr2 div,.guiallegar .barr3 div,.guiallegar .barr4 div{width: 100%;height: 100%;position:relative;}
.guiallegar .barr1 div p,.guiallegar .barr2 div p,.guiallegar .barr3 div p,.guiallegar .barr4 div p{color:#000;}
.guiallegar .barr2{left: 260px;}
.guiallegar .barr3{left: 515px;}
.guiallegar .barr4{left: 770px;}
.guiallegar { border: 1px solid blue; }
/*como llegar END*/

.banco-min{display: inline-block;width: 200px;}
.banco-min img{width: 150px;}
.banco-min .text-uppercase{padding: 0!important;font-size: 14px !important;}

/*LOGIN FORM*/
#login-form{
	text-align: left;
	color: #555555;
	background: #FFF; box-shadow: 0 3px 15px rgba(0,0,0,0.2); display: none; position: absolute; width: 280px; margin:10px 0 0 -200px; z-index: 999;
	padding:15px;
}

#login-form .pass-forgotten{
	color: #999999;
	position: absolute;
	top: 10px;
}

#login-form .new-text{
	color: #999999;
}

#login-form .account-create{
	text-decoration: underline;
}
/*END*/

/*REGISTER FORM*/

.white-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
	background: #FFF;
	width: 750px;
	padding: 25px;
	z-index: 1001;
	opacity: 0;
	transition: all 0.3s;
	visibility: hidden;
}
.white-popup.visible
{
	transform: translate(-50%, -50%);
	opacity: 1;
	visibility: visible;
}
.register-bottom .fb-button{
	height: 35px;
	line-height: 35px;
	background-color: #425f9c;
	color: #FFFFFF;
	padding: 0 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
}
.register-info
{
	font-size: 13px;
}

/*END*/

/*.wrapMiniaturas{*/
	/*display:none;*/
/*}*/
/*END*/

/* Section categories */
.menu-categories, .info-categories{ height:auto; margin-top: 30px; }
.menu-categories .swiper-slide { width: 150px; text-align: center; }
.menu-categories .swiper-slide a{ border-radius: 200px; width: 150px; height: 150px; background: #ebebeb; display: inline-block; text-decoration: none; padding: 25px 20px 0 20px; }
.menu-categories .swiper-slide a:hover, .menu-categories a.active { background: #EE1C25; color:#FFF; }
.menu-categories .icon{ font-size: 60px; margin-bottom: 5px; display: block; }
.menu-categories .name{ display: block; text-transform: uppercase; font-size: 13px; line-height: 14px; }

.info-categories .swiper-slide
{
	border: 1px solid #dedede;
	padding: 20px;
	background: #f2f2f2;
	border-radius: 4px;
}

/*END*/
/*BARRA DE PROGRESO*/
progress[value] {
    width: 180px;
    height: 20px;
    appearance: none;
  -webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #fab10d;
  border-radius: 3px;
}
progress[value]::-webkit-progress-value {
  background-color: #EE1C25;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*END*/
/*FIESTAS HOME*/
.fiestahome .content{background: #eaeaea;  padding: 60px 70px;width: 870px;}
.fiestahome .content .profile-tabs{  width: 100%;}
.fiestahome .profile-tabs .pws_tabs_container {width: 100% !important;}
.fiestahome .profile-tabs .pws_tabs_container .pws_tabs_controll{margin: 0;  margin-left: 18px;}
.fiestahome .profile-tabs  .pws_tabs_container ul.pws_tabs_controll li a {background-color: #b5b5b5;  padding: 5px 27px !important;}
.fiestahome .profile-tabs  .pws_tabs_container .pws_tabs_list{border: solid 1px #d8d8d8;border-radius: 4px;}
.fiestahome .profile-tabs  .pws_tabs_container .pws_tabs_list .pws_tabs_scale_hide.pws_tab_single.pws_tabs_scale_show{width: 96%;}
.fiestahome .profile-tabs  .pws_tabs_container .pws_tabs_list .pws_tabs_scale_hide.pws_tab_single.pws_tabs_scale_show .titab{color: #EE1C25;font-size: 22px;}
.fiestahome .profile-tabs  .pws_tabs_container .pws_tabs_list .pws_tabs_scale_hide.pws_tab_single.pws_tabs_scale_show .seleccion{position:absolute;right:0;font-size: 20px;bottom: 20px;}
.fiestahome .tabshomefes {height:125px;border-bottom: solid 1px #d4d4d4;}
.fiestahome .tabshomefes .fesle{float:left;width:30%;text-align:center;margin-top: 13px;}
.fiestahome .tabshomefes .fesle img{width: 190px;height: 98px;border-radius: 3px;border: solid 1px #dedede;}
.fiestahome .tabshomefes .fece{float:left;width:59%;margin-top: 13px;}
.fiestahome .tabshomefes .fece .feceti{font-size: 19px;color: #EE1C25;margin-bottom: 4px;}
.fiestahome .tabshomefes .fece span{background: #EE1C25;padding: 0 15px;color: #FFF;}
.fiestahome .tabshomefes .fece .fecede {color: #575757;font-size: 14px;margin-top: 4px;}
.fiestahome .tabshomefes .feri {float:left;width:10%;text-align:right;margin-top: 13px;}
.fiestahome .feri .time{height: 50px;display: inline-block;position: relative;}
.fiestahome .feri .time .fecha{  position: absolute;text-align: center;top: 6px;left: 8px;}
/*END*/
/*COMO LLEGAR DESTINO*/
.comollegar * {
	display: none;
}
/*.comollegar .content .filtrades{position: absolute;left: 230px;top: 15px;}
.comollegar .content .filtrades p{  float: left;font-size: 13px;margin-top: 4px;margin-right: 7px;color: #e05555;}
.comollegar .content .filtrades select{width: 100px;}*/
.comollegar .guiallegar{margin-bottom: 35px;}
/*.comollegar .profile-tabs .pws_tabs_list{width: 1050px;  background: transparent;}
.comollegar .profile-tabs .pws_tabs_list{width: 940px;  background: transparent;}*/
.comollegar .contgeneral{background: gray;border-top:solid 2px red;  padding-bottom: 18px;}
.comollegar .contlist{background: #FFF;width: 92%;margin-left: 12px;margin-top: 20px;padding:18px;}
.contlist p.text-uppercase{border-bottom:solid 1px #ababab;font-size: 16px;color: #EE1C25;margin-bottom: 12px;}
/*.comollegar .listviaje{border:solid 1px #ababab;border-left: none;border-right: none;border-top: none; width: 100% !important;text-align:center;}
.comollegar .listviaje thead tr td{background: gray;color: #FFF;border-right: dotted 1px #FFF;}
.comollegar .listviaje td{height: 30px;}*/
.comollegar .content .profile-tabs .pws_tabs_container .pws_tabs_controll li a{border-top-left-radius: 0 !important;border-top-right-radius: 0 !important;background:gray;}
/*END*/

/*-------------------------------------------------------------- MEDIA QUERYS */
@media screen and (min-width: 1600px) {
	.title-content{ font-size: 35px; }
	.swiper-container { height: 600px; }
	.info-slide{font-size: 20px;}
	.recomendado a img { margin: 250px 0 70px 0; }
}
@media screen and (max-width: 970px) {
	nav{ height: 80px; }
	body { padding-top: 80px;}
	nav .logo{max-width: 140px; }
	.title-content{ font-size: 20px; font-weight: 400; }
	/*.content{ width: auto; }*/
	.swiper-container { height: 250px; }
	.info-slide{bottom: 30px;font-size: 13px;}
	.info-slide .text-uppercase{ color: #FFF; }
	.recomendado a img { margin: 15px 0 15px 0; }

	/*Menu sub destinos*/
	.list-menu-subdestino li a{ padding: 5px 10px; }
	.list-menu-subdestino li p{ margin: 0; }
	.list-menu-subdestino li img{ display: none;}
	.list-thumbnail .pic { width: 195px; }
	#map-canvas { height: 350px; }
	.white-popup { width: 90%;}
}
@media screen and (max-width: 750px) {
	nav{ height: 60px; }
	body { padding-top: 60px;}
	nav .logo{max-width: 100px; }
	#map-canvas { height: 250px; }
	.swiper-container { height: 170px; }
	.list-thumbnail li { display: block; }
	.list-thumbnail .pic { width: 100%; }
	.block-comment .comment-avatar{ width: 60px; height:60px; }
	.block-comment .comment-text { margin-left: 80px; }
	.arrow-left{top: 20px;}
	.history-legend{ text-align: center; padding: 0 30px; }
	.history-legend .row>div{ border-bottom: 1px solid #FFF; border-right: none; padding: 10px 0; }
	.history-legend .row>div:last-child{ border-bottom: none; }
	.footer-social { text-align: center; }
	.qsomos .titulo-lista, .qsomos .lista {margin: 0;}
}
/*END media queries */


#colaboradores ul{
    list-style: outside disc; columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#colaboradores-regionales ul{
    list-style: outside disc; columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.circle-defualt{
    width: 142px!important;
    height: 142px!important;
    border-radius: 50% !important;
    background: #ededed!important;
    display: inline-block!important;
    margin: 0 4px!important;
    line-height: 142px!important;
    color: #EE1C25!important;
    font-size: 13px;
    margin-top: 6px!important;
}

.circle-primary {
    width: 170px!important;
    height: 170px!important;
    border-radius: 50% !important;
    background: #ededed!important;
    display: inline-block!important;
    margin: 0 4px!important;
    line-height: 162px!important;
    color: #EE1C25!important;
    font-size: 12.79px;
    margin-top: -4px!important;
}


/*sortable*/
.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}
.ghost {
    opacity: 0.4;
}
.chosen {
    color: #fff;
    background-color: #c00;
}

button{ border:0; background: transparent; font-size: 16px; text-transform: uppercase; }
button:focus{outline: none;}
.button { background: #EE1C25; border: none; cursor: pointer; color: #FFF; padding:8px 12px; transition: all .4s; font-size: 13px; }
.button:focus, .button:hover { background: #bd1921; outline:none; color:#FFF; box-shadow: 0 2px 8px rgba(0,0,0,0.3); }
.button-icon { display: inline-block; color: #666; border:2px solid #666; border-radius: 200px; font-size: 16px; line-height: 28px; text-align: center; width: 30px; height: 30px; text-decoration: none;
	padding:0;
	background: #FFF; }
.button-icon:hover { text-decoration: none; color: #000000; border-color: #000; }

/*-------------------------------------------------------------------------------------- Search section */
section.search
{
	padding: 25px 0;
}
.list-results
{
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
.list-results li:first-child { border-top:1px dotted #CCC; }
.list-results li { border-bottom:1px dotted #CCC; }
.list-results a
{
	display: block;
	color: #666;
	padding: 15px;
	margin: 5px 0;
	font-size: 12px;
}
.list-results a:hover
{
	text-decoration: none;
	background: #f0f0f0;
	border-radius: 4px;
}
.list-results .title
{
	font-size: 20px;
	margin-bottom: 5px;
}
.list-results p
{
	margin:0;
}

/* Lista drag */
.list-drag { list-style: none; margin: 0 0 10px 0; padding: 0; border: 1px solid #e0e0e0; border-radius:4px; background: #f3f3f3; }
.list-drag li { border-bottom: 1px solid #e0e0e0; padding: 10px; }
.list-drag li:last-child { border-bottom: none; }
.list-drag li i { font-size: 11px; color: #999; }
.list-drag li.sortable-chosen { border: 1px dashed #660000; background: rgba(255, 67, 50, 0.3); }

/*-------------------------------------------------------------------------------------- ADMIN Styles */
.faq-admin { font-size: 18px; cursor: pointer; vertical-align: middle; }
.block-admin, .block-admin-float { background: rgba(0, 0, 0, 0.6); color: #FFF; padding:10px; margin-bottom: 15px; }
.info-admin { font-size: 12px; }
.block-admin-float{ position: absolute; z-index: 499; background: rgba(0, 0, 0, 0.6); }
.select_image{ padding: 10px 10px 25px; }
.button-admin { background: linear-gradient(#c6605a, #bd3f39); padding:5px 8px; font-size: 10px; text-transform: uppercase; border-radius: 3px;
	color: #FFF; }
.button-admin:hover { background: linear-gradient(#d87772, #cb443e); }

.list-icons button { margin:5px 0;}
.list-icons i { font-size: 53px; }
/*End admin style*/


.imageBox
{
    position: relative;
    height: 450px;
    width: 860px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 23%;
    left: 12%;
    width: 855px;
    height: 443px;
    margin-top: -100px;
    margin-left: -100px;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
div.imggallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.imggallery:hover {
    border: 1px solid #777;
}

div.imggallery img {
    width: 100%;
    height: auto;
}

div.descgallery {
    padding: 15px;
    text-align: center;
}

*[contenteditable]
{
	outline:1px dashed #ffd398;
}

.editable:focus, *[contenteditable]:focus
{
	background: rgba(255, 255, 255, 0.32);
	/*box-shadow: 0 0 25px rgba(255, 161, 37, 0.64);*/
}
