<div layout="column" style='height:100%;'>
  <section layout="row" flex>
    <!-- content -->

	  <md-content flex class='md-transparent'>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Testimonios">
	        <md-content class="md-padding">
            <md-divider></md-divider>
            <div>
              <section layout='row' layout-sm='colum'>
                <md-card>
                  <img ng-src="http://placehold.it/350x350" class="md-card-image" alt="Washed Out">
                  <md-card-content>
                    <h2 class="md-title">Título de la Tarjeta</h2>

                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class='md-warn'>Rechazar</md-button>
                    <md-button class='md-primary'>Aceptar</md-button>
                  </div>
                </md-card>
                <md-card>
                  <img ng-src="http://placehold.it/350x350" class="md-card-image" alt="Washed Out">
                  <md-card-content>
                    <h2 class="md-title">Título de la Tarjeta</h2>

                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class='md-warn'>Rechazar</md-button>
                    <md-button class='md-primary'>Aceptar</md-button>
                  </div>
                </md-card>
                <md-card>
                  <img ng-src="http://placehold.it/350x350" class="md-card-image" alt="Washed Out">
                  <md-card-content>
                    <h2 class="md-title">Título de la Tarjeta</h2>

                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class='md-warn'>Rechazar</md-button>
                    <md-button class='md-primary'>Aceptar</md-button>
                  </div>
                </md-card>
              </section>
            </div>
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>

    <!-- end content -->
  </section>
</div>
