@font-face {
	font-family: 'icomoon';
	src:    url('fonts/icomoon.eot?majeai');
	src:    url('fonts/icomoon.eot?majeai#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?majeai') format('truetype'),
	url('fonts/icomoon.woff?majeai') format('woff'),
	url('fonts/icomoon.svg?majeai#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e010";
}
.icon-circle-plus:before {
	content: "\e040";
}
.icon-circle-minus:before {
	content: "\e041";
}
.icon-circle-check:before {
	content: "\e042";
}
.icon-circle-cross:before {
	content: "\e043";
}
.icon-creative-commons:before {
	content: "\e92c";
}
.icon-chevron-down:before {
	content: "\e92d";
}
.icon-chevron-left:before {
	content: "\e92e";
}
.icon-chevron-right:before {
	content: "\e92f";
}
.icon-chevron-up:before {
	content: "\e930";
}
.icon-chevron-with-circle-down:before {
	content: "\e931";
}
.icon-chevron-with-circle-left:before {
	content: "\e932";
}
.icon-chevron-with-circle-right:before {
	content: "\e933";
}
.icon-chevron-with-circle-up:before {
	content: "\e934";
}
.icon-dots-three-vertical:before {
	content: "\e94e";
}
.icon-open-book:before {
	content: "\e954";
}
.icon-add-user:before {
	content: "\e937";
}
.icon-address:before {
	content: "\e936";
}
.icon-aircraft-take-off:before {
	content: "\e938";
}
.icon-briefcase:before {
	content: "\e93a";
}
.icon-circle-with-cross:before {
	content: "\e94f";
}
.icon-clock:before {
	content: "\e91d";
}
.icon-code:before {
	content: "\e93b";
}
.icon-erase:before {
	content: "\e950";
}
.icon-info-with-circle:before {
	content: "\e93d";
}
.icon-info:before {
	content: "\e93c";
}
.icon-lab-flask:before {
	content: "\e927";
}
.icon-light-up:before {
	content: "\e952";
}
.icon-list:before {
	content: "\e951";
}
.icon-location-pin:before {
	content: "\e940";
}
.icon-location:before {
	content: "\e93f";
}
.icon-map:before {
	content: "\e93e";
}
.icon-pie-chart:before {
	content: "\e941";
}
.icon-ruler:before {
	content: "\e953";
}
.icon-shop:before {
	content: "\e94d";
}
.icon-v-card:before {
	content: "\e942";
}
.icon-youtube-with-circle:before {
	content: "\e949";
}
.icon-youtube:before {
	content: "\e94a";
}
.icon-orquesta:before {
	content: "\e928";
}
.icon-erudito:before {
	content: "\e929";
}
.icon-correr:before {
	content: "\e943";
}
.icon-bailar:before {
	content: "\e944";
}
.icon-mochilero:before {
	content: "\e945";
}
.icon-nadar:before {
	content: "\e900";
}
.icon-tabla-surf:before {
	content: "\e946";
}
.icon-skateboard:before {
	content: "\e901";
}
.icon-ski:before {
	content: "\e902";
}
.icon-podio:before {
	content: "\e903";
}
.icon-183:before {
	content: "\e947";
}
.icon-buseo:before {
	content: "\e904";
}
.icon-cocinero:before {
	content: "\e905";
}
.icon-servicio:before {
	content: "\e906";
}
.icon-alimentos:before {
	content: "\e907";
}
.icon-pintor:before {
	content: "\e948";
}
.icon-bandera:before {
	content: "\e94b";
}
.icon-pescar:before {
	content: "\e908";
}
.icon-escritorio:before {
	content: "\e909";
}
.icon-montar:before {
	content: "\e94c";
}
.icon-parque:before {
	content: "\e956";
}
.icon-ahorrar:before {
	content: "\e957";
}
.icon-yoga:before {
	content: "\e962";
}
.icon-regar:before {
	content: "\e963";
}
.icon-celebrar:before {
	content: "\e90a";
}
.icon-equipaje:before {
	content: "\e90b";
}
.icon-idea:before {
	content: "\e90c";
}
.icon-alerta:before {
	content: "\e90d";
}
.icon-paraguas:before {
	content: "\e90e";
}
.icon-rezar:before {
	content: "\e964";
}
.icon-tv:before {
	content: "\e90f";
}
.icon-leer:before {
	content: "\e965";
}
.icon-viajando:before {
	content: "\e910";
}
.icon-tina:before {
	content: "\e911";
}
.icon-yoga-2:before {
	content: "\e966";
}
.icon-vigilar:before {
	content: "\e967";
}
.icon-volar:before {
	content: "\e912";
}
.icon-ovni:before {
	content: "\e913";
}
.icon-fuente:before {
	content: "\e968";
}
.icon-tsunami:before {
	content: "\e914";
}
.icon-tiburon:before {
	content: "\e969";
}
.icon-surfing:before {
	content: "\e96a";
}
.icon-cruzar:before {
	content: "\e915";
}
.icon-ciclismo:before {
	content: "\e916";
}
.icon-basura:before {
	content: "\e917";
}
.icon-lluvia:before {
	content: "\e918";
}
.icon-adulto:before {
	content: "\e919";
}
.icon-trekking:before {
	content: "\e91a";
}
.icon-desierto:before {
	content: "\e96b";
}
.icon-descanso:before {
	content: "\e91b";
}
.icon-oso:before {
	content: "\e96c";
}
.icon-caminando:before {
	content: "\e91c";
}
.icon-ayudar:before {
	content: "\e96d";
}
.icon-meeting:before {
	content: "\e91e";
}
.icon-captura:before {
	content: "\e91f";
}
.icon-captura2:before {
	content: "\e920";
}
.icon-dj:before {
	content: "\e921";
}
.icon-danza:before {
	content: "\e922";
}
.icon-danza2:before {
	content: "\e923";
}
.icon-monja:before {
	content: "\e924";
}
.icon-caminando2:before {
	content: "\e925";
}
.icon-rock:before {
	content: "\e96e";
}
.icon-playing-football:before {
	content: "\e955";
}
.icon-Mudriding:before {
	content: "\e958";
}
.icon-ParaGliding:before {
	content: "\e959";
}
.icon-WaterGliding:before {
	content: "\e95a";
}
.icon-Swimming:before {
	content: "\e95b";
}
.icon-Cycling:before {
	content: "\e95c";
}
.icon-PlayingGolf:before {
	content: "\e95d";
}
.icon-RiverRafting:before {
	content: "\e95e";
}
.icon-Mountainclimbing:before {
	content: "\e95f";
}
.icon-Abseiling:before {
	content: "\e960";
}
.icon-Scubamouthpiece:before {
	content: "\e961";
}
.icon-search:before {
	content: "\f002";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-eur:before {
	content: "\f153";
}
.icon-euro:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-usd:before {
	content: "\f155";
}
.icon-cny:before {
	content: "\f157";
}
.icon-jpy:before {
	content: "\f157";
}
.icon-rmb:before {
	content: "\f157";
}
.icon-yen:before {
	content: "\f157";
}
.icon-instagram2:before {
	content: "\f16d";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-institution:before {
	content: "\f19c";
}
.icon-university:before {
	content: "\f19c";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-mortar-board:before {
	content: "\f19d";
}
.icon-recycle:before {
	content: "\f1b8";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-toggle-off:before {
	content: "\f204";
}
.icon-toggle-on:before {
	content: "\f205";
}
.icon-ship:before {
	content: "\f21a";
}
.icon-venus:before {
	content: "\f221";
}
.icon-mars:before {
	content: "\f222";
}
.icon-facebook-official:before {
	content: "\f230";
}
.icon-balance-scale:before {
	content: "\f24e";
}
.icon-tripadvisor:before {
	content: "\f262";
}
.icon-calendar-check-o:before {
	content: "\f274";
}
.icon-themeisle:before {
	content: "\f2b2";
}
.icon-degree-fahrenheit:before {
	content: "\e96f";
}
.icon-degree-celsius:before {
	content: "\e970";
}
.icon-thermometer-quarter:before {
	content: "\e971";
}

