<div layout="column" style='height:100%;'>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class='md-red-400'>
        <h1 class="md-toolbar-tools">Bienvenida Perú</h1>
      </md-toolbar>
      <md-content flex role='navigation' class='md-gray'>
				<ul>
          <li>
						<md-button ui-sref='home' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_dashboard_24px.svg' alt="Home"></md-icon>
              Home
            </md-button>
            <md-divider></md-divider>
					</li>
          <li>
						<md-button ui-sref='inicio' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_home_24px.svg' alt="Home"></md-icon>
              Inicio
            </md-button>
            <md-divider></md-divider>
					</li>
          <li>
            <md-button aria-label='Regiones' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_layers_24px.svg' alt="Home"></md-icon>
              <md-select placeholder="Regiones" ng-model="dashboard.opcionRegionElegida" ng-change='dashboard.changeSelect()'>
								 <md-optgroup label='Opciones'>
								 	<md-option>Agregar</md-option>
									<md-option>Listar</md-option>
								 </md-optgroup>
                <md-optgroup label="Regiones">
                  <md-option ng-repeat="region in dashboard.regions" ng-value='region.name'>{{region.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-button>
            <md-divider></md-divider>
          </li>
          <li>
            <md-button aria-label='Destinos' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_flight_takeoff_24px.svg' alt="Home"></md-icon>
              <md-select placeholder="Destinos" ng-model="dashboard.regionElegida" ng-change='dashboard.changeSelect()'>
                <md-optgroup label='Opciones'>
                  <md-option>Agregar</md-option>
                  <md-option>Listar</md-option>
                </md-optgroup>
                <md-optgroup label="Destinos">
                  <md-option ng-repeat="region in dashboard.regions" ng-value='region.name'>{{region.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-button>
            <md-divider></md-divider>
          </li>
          <li>
            <md-button aria-label='Subdestinos' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_map_24px.svg' alt="Home"></md-icon>
              <md-select placeholder="Subdestinos" ng-model="dashboard.regionElegida" ng-change='dashboard.changeSelect()'>
                <md-optgroup label='Opciones'>
                  <md-option>Agregar</md-option>
                  <md-option>Listar</md-option>
                </md-optgroup>
                <md-optgroup label="Subdestinos">
                  <md-option ng-repeat="region in dashboard.regions" ng-value='region.name'>{{region.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-button>
            <md-divider></md-divider>
          </li>
          <li>
            <md-button aria-label='Sitios' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_room_24px.svg' alt="Home"></md-icon>
              <md-select placeholder="Sitios" ng-model="dashboard.regionElegida" ng-change='dashboard.changeSelect()'>
                <md-optgroup label='Opciones'>
                  <md-option>Agregar</md-option>
                  <md-option>Listar</md-option>
                </md-optgroup>
                <md-optgroup label="Sitios">
                  <md-option ng-repeat="region in dashboard.regions" ng-value='region.name'>{{region.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-button>
            <md-divider></md-divider>
          </li>
          <li>
            <md-button ui-sref='hecho-en-peru' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_terrain_24px.svg' alt="Home"></md-icon>
              Hecho en Perú
            </md-button>
            <md-divider></md-divider>
          </li>
          <li>
						<md-button ui-sref='aventura' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_explore_24px.svg' alt="Home"></md-icon>
              Aventura
            </md-button>
            <md-divider></md-divider>
					</li>
          <li>
            <md-button aria-label='Fiestas y Tradiciones'>
              <md-icon md-svg-src='/assets/img/icons/ic_event_24px.svg' alt="Home"></md-icon>
              <md-select placeholder="Fiestas y Tradiciones" ng-model="dashboard.regionElegida" ng-change='dashboard.changeSelect()'>
                <md-optgroup label='Opciones'>
                  <md-option>Agregar</md-option>
                  <md-option>Listar</md-option>
                </md-optgroup>
                <md-optgroup label="Fiestas y Tradiciones">
                  <md-option ng-repeat="region in dashboard.regions" ng-value='region.name'>{{region.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-button>
            <md-divider></md-divider>
					</li>
          <li>
						<md-button ui-sref='testimonios' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_quick_contacts_mail_24px.svg' alt="Home"></md-icon>
              Testimonios
            </md-button>
            <md-divider></md-divider>
					</li>
          <li>
						<md-button ui-sref='comentarios' ui-sref-active='active'>
              <md-icon md-svg-src='/assets/img/icons/ic_comment_24px.svg' alt="Home"></md-icon>
              Comentarios
            </md-button>
            <md-divider></md-divider>
					</li>
          <li>
						<md-button ui-sref='rr-ss' ui-sref-active="active">
              <md-icon md-svg-src='/assets/img/icons/ic_language_24px.svg' alt="Home"></md-icon>
              Redes Sociales
            </md-button>
            <md-divider></md-divider>
					</li>
				</ul>
      </md-content>
    </md-sidenav>
    <md-content flex class='md-gray-300'>
      <md-toolbar flex>
        <div class="md-toolbar-tools">
          <img ng-src="assets/img/profile.png" class="md-avatar" alt="{{item.who}}" />
          <h3>
            <span>¡Hola Cecilia!</span>
            <span class='subtitle'>Administrador</span>
          </h3>
          <span flex></span>
        </div>
      </md-toolbar>
      <div layout="column" layout-fill>
        <ui-view ng-hide="stateLoading"></ui-view>
        <md-progress-circular ng-show='stateLoading' class="md-warn" md-mode="indeterminate"></md-progress-circular>
      </div>
      <div flex></div>
    </md-content>
  </section>
</div>
