<div layout="column" style='height:100%;'>
  <section layout="row" flex>
	  <md-content flex class='md-transparent'>
			<md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Listar">
	        <md-content class="md-padding">
						<section layout='row' layout-sm='colum'>
							<md-card flex class='md-padding'>
								<md-list ng-controller='RegionListarController as regionListar'>
									<md-list-item ng-repeat="region in regionListar.regions" ng-click="regionListar.goToRegion(region.name, $event)">
										<div layout="row">
											<p>{{ region.name }}</p>
											<md-icon md-svg-src='/assets/img/icons/ic_mode_edit_24px.svg' aria-label="Ir a Edición" class="md-secondary md-hue-3"></md-icon>
										</div>
										<md-divider></md-divider>
									</md-list-item>
								</md-list>
							</md-card>
						</section>
	        </md-content>
	      </md-tab>
			</md-tabs>
		</md-content>
	</section>
</div>
