<div layout="column" style='height:100%;'>
  <section layout="row" flex>

	  <md-content flex class='md-transparent'>
			<md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Agregar">
	        <md-content class="md-padding">
            <section layout='row' layout-sm='colum'>
              <md-card flex class='md-padding'>
                <form ng-controller='RegionAgregarController as regionAgregar'>
                  <md-input-container flex>
                    <label>Nombre</label>
                    <input required type='text' ng-model="regionAgregar.form.name"/>
                    <div ng-messages>
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <div class="md-actions" layout="row" layout-align="center">
                    <md-button class='md-primary' ng-click='regionAgregar.register()'>Guardar</md-button>
                    <md-button class='md-warn'>Cancelar</md-button>
                  </div>
                </form>
              </md-card>
            </section>
	        </md-content>
	      </md-tab>
			</md-tabs>
		</md-content>

	</section>
</div>
