<div layout="column" style='height:100%;'>
  <section layout="row" flex>
    <!-- content -->

	  <md-content flex class='md-transparent'>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Redes sociales">
	        <md-content class="md-padding">
            <md-subheader>Solicitudes Pendientes:</md-subheader>
            <md-divider></md-divider>
            <div >
              <section layout='row' layout-sm='colum'>
                <md-card>
                  <img ng-src="http://placeimg.com/350/280/nature" class="md-card-image" alt="Washed Out">
                  <md-card-content>
                    <h2 class="md-title">Título de la Tarjeta</h2>

                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class='md-warn'>Rechazar</md-button>
                    <md-button class='md-primary'>Aceptar</md-button>
                  </div>
                </md-card>
                <md-card>
                  <img ng-src="http://placeimg.com/350/280/nature" class="md-card-image" alt="Washed Out">
                  <md-card-content>
                    <h2 class="md-title">Título de la Tarjeta</h2>

                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class='md-warn'>Rechazar</md-button>
                    <md-button class='md-primary'>Aceptar</md-button>
                  </div>
                </md-card>
                <md-card>
                  <img ng-src="http://placeimg.com/350/280/nature" class="md-card-image" alt="Washed Out">
                  <md-card-content>
                    <h2 class="md-title">Título de la Tarjeta</h2>

                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class='md-warn'>Rechazar</md-button>
                    <md-button class='md-primary'>Aceptar</md-button>
                  </div>
                </md-card>
              </section>
            </div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Comentarios">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Aprobación de Comentarios. <br> Comentarios pendientes para aprobar: </md-subheader>
	          <!-- comment -->
            <br>
            <md-divider></md-divider>
            <section layout="row" layout-sm="column">
              <md-card flex='50' class='md-padding'>
								<md-input-container>
				          <label>USUARIO comentó:</label>
				          <textarea ng-model="user.biography" columns="1" md-maxlength="150">
	                  Texto de prueba
	                </textarea>
				        </md-input-container>
				        <section layout="row" layout-sm="column">
					        <md-checkbox ng-model="data.cb2" aria-label="Agregar al home">Agregar al home</md-checkbox>
					        <md-button md-no-ink class="md-warn">Rechazar </md-button>
					        <md-button md-no-ink class="md-primary">Aceptar</md-button>
					      </section>
							</md-card>
            </section>

	          <!-- end comment -->
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>

    <!-- end content -->
  </section>
</div>
