.angular-ui-tree-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px
}

.angular-ui-tree-nodes {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 20px
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px
}

.angular-ui-tree-hidden {
  display: none
}

.angular-ui-tree-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #FF0000;
  &:hover
  {
	border:1px dashed #DCDCDC;
	background: #EDEDED;
  }
}

.angular-ui-tree-handle .select
{
  color: #0000FF;
}
.angular-ui-tree-handle {
  cursor: move;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 2.5rem;
  border-radius: 4px;
  padding:0 .5rem 0 .2rem;
  &:hover
  {
	background: #f3f3f3;
  }
}

.angular-ui-tree-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: .8
}

.node-selected .angular-ui-tree-handle
{
  background:#E41D26 !important;
  color:#FFF !important;
  border-radius: 4px;
}
.node-selected a
{
  color:#E41D26 !important;
}