@import "global";
@import "menu";
@import "lists";
@import "angular-ui-tree";

@width-main-menu: 100px;

//Blocks
.block-form
{
  background: #FCFCFC;
}
.block-form-logo
{
  background: @primary-color;
  height: 100px;
}
#map-canvas{
  height: 500px;
}
.content-map{max-width:100%;}
//---------------------------------- block content list
.block-content-list
{
  background: #FFF;
  padding-bottom: 5px;
  border:1px solid #CCC;
}
.block-content-list-head{
  background: @primary-color;
  color: @primary-color-negative;
  font-size: 1.2rem;
  padding: 10px;
}
.block-content-list-body{

}
.block-content-list-body ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-content-list-body ul li{
  padding: 0 10px;
}
.block-content-list-body ul li:hover{
  background: #ebebeb;
}
.block-content-list-body .item{
  padding: 10px 0;
  border-bottom: 2px solid #ebebeb;
}

.list-items
{
  list-style:none;
  margin: 0;
  padding: 0;
}
.list-items li{
  border-top:1px solid #EDEDED;
  padding: 5px 0;
}
.list-items li a{
  color:@secondary-color;
  display: block;
  line-height: 1rem;
  padding: 0;
}
.list-items-subtitle
{
  font-size: .9rem;
  color: @font-color-secondary;
}


//------
#header
{
  background: rgba(255, 255, 255, .12);
  padding: .5rem 1.5rem;
  margin-bottom: .5rem;
}
#content
{
  position: absolute;
  overflow: scroll;
  left: @width-main-menu;
  right: 0;
  top:0;
  bottom:0;
}
.mobile #content
{
  left: 0;
}

//------ Toolbox
.toolbox {
  background: rgba(255, 255, 255, .6);
  display: table;
  padding: .3rem;
}

.toolbox > * {
  display: table-cell !important;
  vertical-align: middle;
  margin: 0 !important;
  padding: 0 .6rem;
  border-right: 1px solid rgba(0,0,0,.1);
}

.toolbox > a {
  padding: .5rem .6rem;
  transition:all .3s;
}
.toolbox > a:last-child {
  border:none;
}

.toolbox > a:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background: #FFF;

}
.toolbox > a:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
//--------------- End toolbox


.content-topbar
{
  margin: .4rem 1rem;
}

.content-topbar .icon-search {
  line-height: 20px;
  font-size: 15px;
  vertical-align: middle;
}

.hidden-input, .hidden-input:hover, .hidden-input:focus {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.content-topbar .hidden-input
{
  width: 350px;
}

//--------------------------- Global clases
.block-white
{
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.icon16{font-size: 16px;}
.icon23{font-size: 23px;}
.icon32{font-size: 32px;}
.icon64{font-size: 64px;}
.content
{
  padding: 1.5rem;
}
.inner-column
{
  margin: 0 -0.9375rem;
}
.header-logo
{
  width: 80px;
}
.text-info{
  color: #a8a8a8;
  font-size: .9rem;
}
