@font-size: 14px;
@font-color: #777;
@font-color-secondary: #CCC;
@font-family: "Roboto", sans-serif;
@font-weight: 400;
@font-family-title: "Open Sans", Arial, sans-serif;
@font-weight-title: 300;
@font-weight-title: 300;
@font-family-button: "Roboto Condensed", Arial, sans-serif;

@primary-color: #E41D26;
@primary-color-dark: #bd1d23;
@primary-color-hover: #f93f44;
@primary-color-negative: #ffffff;
@secondary-color: #FF0000;
@secondary-color-hover: #00FF00;
@secondary-color-negative: #ffffff;


html {
  font-size: @font-size;
}

body {
  background: url("../img/bg_app.jpg") center center;
  background-size: cover;
  font-family: @font-family;
  font-weight: @font-weight;
  color: @font-color;
}
h1, h2, h3, h4, h5
{
  font-family: @font-family-title;
  font-weight: @font-weight-title;
  padding: 0 0 .5rem 0;
  margin:0;
  color: @primary-color;
}


a { color: @primary-color-dark; }
a:hover { color:@primary-color-hover; }

//reset sizes
label
{
  font-size: 1rem;
}

label, p{
  color: @font-color;
  font-family: @font-family;
  font-weight: @font-weight;

}

//--------------------------- Helper classes
.table-row{
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell
{
  vertical-align: middle;
  display: table-cell;
}

//--------------------------- Inputs
.input-float label
{
  margin: .4rem 0 0 .6rem;
  font-size: 11px;
  font-weight: 500;
  color: #CCC;
  position: absolute;
}
.input-float input
{
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: .1rem;
  transition: all .4s;
}
.input-float textarea
{
  padding-top: 1.4rem;
  line-height: 1.35em;
}
.input-float select
{
  padding-top: 1.4rem;
  line-height: 1.35em;
  height: auto;
}

.input-icon label
{
  margin: .5rem 0 0 .7rem ;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  line-height: 2rem;
  transition:all 1s;
}

.input-icon input
{
  padding-left: 2.5rem;
  line-height: 1.7rem;
}

//--------------------------- Foundation clases
select
{
  background-color: #FFF;
  border: 1px solid #DCDCDC;
  color: @font-color;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.08);
}
input[type="text"],
input[type="password"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
{
  color: @font-color;
  font-family: @font-family;
  font-size: 1rem;
  height: auto;
  background: #FCFCFC;
  border: 1px solid #DCDCDC;
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.08);
  border-radius: 2px;
  &:focus
  {
	background: #FFFFFF;
	border: 1px solid #9DCAFE;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  }
}

.button, button
{
  background-color: @primary-color;
  background-image: linear-gradient(-180deg, @primary-color 0%, @primary-color-dark 100%);
  border-radius: 3px;
  padding: .5rem 1rem;
  font-family: @font-family-button;
  font-size: (@font-size - 1);
  font-weight: @font-weight;
  color: @primary-color-negative;
  margin: 0;
  text-transform: uppercase;
  transition: all .3s;
}
button.small, .button.small
{
  padding: .4rem .5rem !important;
}

.button:disabled, button:disabled
{
  opacity: 0.6;
}
.button:focus, button:focus
{
  background: @primary-color-hover;
  outline: none;
}
.button:hover, button:hover
{
  background: @primary-color-hover;
}
.button:active, button:active
{
  background-image: linear-gradient(-180deg, @primary-color-dark, @primary-color);
}

.tabs
{
  background: #F3F3F3;
  border-radius: 40px;
}
.tab-item
{
  background: #ECEBEB;
  color: #8f8f8f !important;
  padding: .5rem 1.5rem !important;
  border-radius: 40px;
  font-family: @font-family-button;
}
.tab-item.is-active
{
  background: #6281AA !important;
  color: #FFF !important;
}
.tab-contents
{
  padding: 1rem 0 0 0;
}