//---------------------------------- Listas
.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-items li {
  border-top: 1px solid #EDEDED;
  padding: .6rem 0;
}
.list-items li .toolbox
{
  margin-top: -0.6rem;
  background: transparent;
  display: none;
}
.list-items li:hover .toolbox
{
  display: block;
}


//----content list
.list-items-content
{
  list-style: none;
  margin: 0 -1.5rem;
  padding: 0;
  border-top: 1px solid #ececec;
}
.list-items-content li
{
  padding: .3rem .3rem .3rem 1.5rem;
  display: block;
  border-bottom: 1px solid #ececec;
}
.list-items-content li:hover
{
  background: #F6F6F6;
}
.list-items-content li .toolbox
{
  background: transparent;
  display: none;
}
.list-items-content li:hover .toolbox
{
  display: block;
}
