<div layout="column" style='height:100%;'>
  <section layout="row" flex>
    <!-- content -->

	  <md-content flex class='md-transparent'>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Banner">
	        <md-content class="md-padding">
            <md-subheader class="md-transparent">Configurar Banner:</md-subheader>
            <md-divider></md-divider>
            <div>
              <section layout='row' layout-sm='colum'>
								<div class="container" >
								  <div class="row">
								    <div class="col-sm-12">


								    <div class="row" nv-file-drop="" uploader="inicio.uploader">

								        <div class="col-md-3">

								            <h3>Select files</h3>

								            <div ng-show="uploader.isHTML5">
								                <!-- 3. nv-file-over uploader="link" over-class="className" -->
								                <div class="well my-drop-zone" nv-file-over="" uploader="inicio.uploader">
								                    Base drop zone
								                </div>

								                <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
								                <div nv-file-drop="" uploader="inicio.uploader" options="{ url: '/foo' }">
								                    <div nv-file-over="" uploader="inicio.uploader" over-class="another-file-over-class" class="well my-drop-zone">
								                        Another drop zone with its own settings
								                    </div>
								                </div>
								            </div>

								            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
								            <input type="file" nv-file-select="" uploader="inicio.uploader" multiple  /><br/>

								        </div>

								        <div class="col-md-9" style="margin-bottom: 40px">
								            <h2>Uploads only images (with canvas preview)</h2>
								            <h3>The queue</h3>
								            <p>Queue length: {{ uploader.queue.length }}</p>

								            <table class="table">
								                <thead>
								                    <tr>
								                        <th width="50%">Name</th>
								                        <th ng-show="inicio.uploader.isHTML5">Size</th>
								                        <th ng-show="inicio.uploader.isHTML5">Progress</th>
								                        <th>Status</th>
								                        <th>Actions</th>
								                    </tr>
								                </thead>
								                <tbody>
								                    <tr ng-repeat="item in inicio.uploader.queue">
								                        <td>
								                            <strong>{{ item.file.name }}</strong>

								                        <div class="cropArea">
																					<img-crop image="item.image" result-image="item.croppedImage" area-type="{{inicio.cropType}}"></img-crop>
								                        </div>
								                        <div>Cropped Image:</div>
								                        <div><img ng-src="{{item.croppedImage}}" /></div>

								                        </td>
								                        <td ng-show="inicio.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
								                        <td ng-show="inicio.uploader.isHTML5">
								                            <div class="progress" style="margin-bottom: 0;">
								                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
								                            </div>
								                        </td>
								                        <td class="text-center">
								                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
								                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
								                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
								                        </td>
								                        <td nowrap>
								                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
								                                <span class="glyphicon glyphicon-upload"></span> Upload
								                            </button>
								                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
								                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
								                            </button>
								                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
								                                <span class="glyphicon glyphicon-trash"></span> Remove
								                            </button>
								                        </td>
								                    </tr>
								                </tbody>
								            </table>

								            <div>
								                <div>
								                    Queue progress:
								                    <div class="progress" style="">
								                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
								                    </div>
								                </div>
								                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
								                    <span class="glyphicon glyphicon-upload"></span> Upload all
								                </button>
								                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
								                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
								                </button>
								                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
								                    <span class="glyphicon glyphicon-trash"></span> Remove all
								                </button>
								            </div>

								        </div>

								    </div>



								  </div>
								</div>
              </section>
            </div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Texto Intro">
	        <md-content class="md-padding md-transparent">
            <section layout="row" layout-sm="column">
              <md-card flex='50' class='md-padding'>
                <form ng-controller='FormTextoIntroController as textoIntro'>
                  <md-input-container flex>
                    <label>Texto de Introducción:</label>
                    <textarea ng-model="textoIntro.form.content" columns="1" md-maxlength="277"></textarea>
                  </md-input-container>
                  <div class="md-actions" layout="row" layout-align="center">
                    <md-button class='md-primary' ng-click='textoIntro.register()'>Guardar</md-button>
                    <md-button class='md-warn'>Cancelar</md-button>
                  </div>
                </form>
              </md-card>
            </section>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Imperdibles">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar los impredibles:</md-subheader>

            <md-divider></md-divider>
			      <section layout="row" layout-sm="column">
              <md-card flex='50' class='md-padding'>
                <md-input-container flex>
                  <label>Texto de Introducción:</label>
                  <textarea ng-model="asd.model" columns="1" md-maxlength="277"></textarea>
                </md-input-container>
                <div class="md-actions" layout="row" layout-align="center">
                  <md-button class='md-primary'>Guardar</md-button>
                  <md-button class='md-warn'>Cancelar</md-button>
                </div>
              </md-card>
              <md-card flex='50' class='md-padding'>
                <div ui-tree>
                  <ol ui-tree-nodes="" ng-model="inicio.list">
                    <li ng-repeat="item in inicio.list" ui-tree-node>
                      <div ui-tree-handle>
                        {{item.title}}
                      </div>
                      <ol ui-tree-nodes="" ng-model="item.items">
                        <li ng-repeat="subItem in item.items" ui-tree-node>
                          <div ui-tree-handle>
                            {{subItem.title}}
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </md-card>
				    </section>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Art.Destacado">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar Banner:</md-subheader>
            <md-divider></md-divider>
			        <section layout="row" layout-sm="column">
                <md-button class='md-fab'>
                  <label for="file-input">
                    <md-icon md-svg-src='/assets/img/icons/ic_cloud_upload_24px.svg' alt="Home"></md-icon>
                  </label>
                </md-button>
                <input id="file-input" type="file">
                <p>Tamaño de imagen: 504px X 1600px.</p>
                <div class="md-actions" layout="row" layout-align="center">
                  <md-button class='md-primary'>Guardar</md-button>
                  <md-button class='md-warn'>Cancelar</md-button>
                </div>
				      </section>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Hecho en Perú">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar Hecho en Perú:</md-subheader>

            <md-divider></md-divider>
            <section layout="row" layout-sm="column">
              <md-card flex='50' class='md-padding'>
                <md-input-container flex>
                  <label>Texto de Introducción:</label>
                  <textarea ng-model="asd.model" columns="1" md-maxlength="277"></textarea>
                </md-input-container>
                <div class="md-actions" layout="row" layout-align="center">
                  <md-button class='md-primary'>Guardar</md-button>
                  <md-button class='md-warn'>Cancelar</md-button>
                </div>
              </md-card>
				    </section>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Slider Reg.">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar Slider Regiones:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">
                <md-button class='md-fab'>
                  <label for="file-input">
                    <md-icon md-svg-src='/assets/img/icons/ic_cloud_upload_24px.svg' alt="Home"></md-icon>
                  </label>
                </md-button>
                <input id="file-input" type="file">
                <p>Tamaño de imagen: 504px X 1600px.</p>
				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Fiesta y Trad.">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar Fiestas y Tradiciones:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">
                <md-card flex='50' class='md-padding'>
                  <md-input-container flex>
                    <label>Agregar Texto</label>
                    <textarea ng-model="asd.model" columns="1" md-maxlength="277"></textarea>
                  </md-input-container>
                  <div class="md-actions" layout="row" layout-align="center">
                    <md-button class='md-primary'>Guardar</md-button>
                    <md-button class='md-warn'>Cancelar</md-button>
                  </div>
                </md-card>
				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Vive Perú">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar Vive Perú:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
        <md-tab label="Comentarios">
	        <md-content class="md-padding md-transparent">
            <md-subheader class="md-transparent">Configurar Comentarios:</md-subheader>

            <md-divider></md-divider>
	          <div>
			        <section layout="row" layout-sm="column">

				      </section>
	          </div>
	          <!-- end comment -->
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>

    <!-- end content -->
  </section>
</div>
